ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: right;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding:13px 16px;
  text-decoration: none;
}
h3{
  color: white;
}
header{
  border-bottom: 2px solid black;
}

.section {
  border-bottom: 2px solid black;
  padding: 150px;
  color: white;
}

.footer {
  border-top: solid black;
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;